/* =css for option page
-------------------------------------------------------------- */
.my_press_articles_settings_header {
 width:60%;
 height:23px;
 font-size:15px;
 margin-left:30%;
 margin-top:1%;
 color:blue;
}

.my_press_header_icon {
 float:left;
 width:35px;
 height:19px;
 background-image:url('mypree.png');
}

.my_press_header_text {
 margin-top:2px;
}

.option {
 padding-left:6px;
 padding-right:6px;
 width:263px;
 -moz-border-radius:6px;
 border-radius:6px;
}

.option a {
 color:red;
}

.my_press_login, .my_press_quick_note, .my_press_analytic, .my_press_social_buttons, .my_press_relatred_posts_feature, .my_press_comment_link, .my_press_articles_help, .my_press_recommend, .my_press_articles_share_plugins {
 width:96%;
 color:#ffffff;
 font-size:15px;
 text-align:center;
 padding-top:3px;
 padding-bottom:3px;
 background: #45484d; /* Old browsers */
 background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d),  color-stop(100%,#000000)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
 background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.main_mypress {
 width:960px;
 margin-top:0px;
 margin-left:auto;
 margin-right:auto;
 display:block;
}

.left_mypress, .right_mypress {
 float:left;
 padding-top:3px;
 padding-left:10px;
 width:600px;
 font-weight:bold;
 color:#000000;
 background: #e4efc0; /* Old browsers */
 background: -moz-linear-gradient(top,  #e4efc0 0%, #abbd73 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4efc0),  color-stop(100%,#abbd73)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); /* IE10+ */
 background: linear-gradient(to bottom,  #e4efc0 0%,#abbd73 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 ); /* IE6-9 */
}

.right_mypress {
 float:right;
 width:300px;
}

hr.mypress {
 width:70%;
 display:block;
 margin-left:15%;
 margin-right:15%;
 margin-top:3px;
 margin-bottom:3px;
}

/* =css for widget
-------------------------------------------------------------- */

.my_press_widgets_wraps {
 background-color:#ffffff;
 width:70%;
 margin-top:3%;
 margin-bottom:3%;
 margin-left:6%;
 margin-right:18%;
 padding:3%;
 height:153px;
 -moz-border-radius: 6px;
 border-radius: 6px;
}

.my_press_social_widgets_wraps {
 float:left;
}

.my_press_facebook_fanpage_widgets_wraps {
 background-color:#ffffff;
 width:95%;
 margin-top:3%;
 margin-bottom:3%;
 padding-left:3%;
 padding-right:auto;
 padding-top:3%;
 padding-bottom:3%;
 -moz-border-radius: 6px;
 border-radius: 6px;
}

.my_press_articles_sidebar_widgets_header {
 width:100%;
 height : 83px;
 margin-top:0;
 margin-bottom:0;
 background-image:url('sharewidgetsidebar.png');
 background-repeat:no-repeat;
}

.my_press_articles_sticky_widgets_header {
 width:90%;
 height : 23px;
 color:#ffffff;
 text-align:center;
 font-weight:bold;
 font-size:23px;
 padding:3% 5% 3% 5%;
 background-image:url('featureposts.png');
 background-repeat:repeat;
}

.my_press_articles_sticky_posts_widget {
 position:relative;
 display:block;
 width:100%;
 margin-left:auto;
 margin-right:auto;
 margin-top:6px;
 margin-bottom:3px;
}

.my_press_articles_sticky_posts_img_wraps {
 float:left;
 margin-right:1px;
 margin-bottom:3px;
 height:100px;
 width:100px;
 padding:3px 3px 3px 3px;
 border:1px dashed #ffffff;
}

.my_press_articles_sticky_posts_img_wraps:hover {
 border:1px solid red;
}

.my_press_articles_sticky_posts_text_wraps {
 float:left;
 font-size:17px;
 width:50%;
 height:100px;
 margin-bottom:3px;
 padding:2% 1% 1% 3%;
 overflow:hidden;
}

.my_press_articles_sticky_posts_text_wraps a {
 text-decoration:none;
 color:red;
}

.my_press_articles_sticky_posts_text_wraps a:hover {
 text-decoration:underline;
}

.my_press_articles_widget_seperator{
 border:1px inset #41383C;
 width:99%;
 margin:3px auto 3px auto;
}

/* =css for quick note
-------------------------------------------------------------- */
.my_press_note {
 width:90%;
 padding-left:3%;
 padding-right:3%;
 padding-top:3%;
 padding-bottom:3%;
 margin:2%;
 font-size:19px;
 background-color:yellow;
 display:block;
 float:left;
}

.my_press_note a {
 color:blue;
}

/* =css for related posts
-------------------------------------------------------------- */
.my_press_articles_related_post_main_wraps {
 padding:3px 3px 3px 10px;
 font-size:19px;
}
.my_press_articles_related_post_heading {
 float:left;
 width:100%;
 margin-bottom:0;
}


/* =css for content share button
-------------------------------------------------------------- */

.my-press-share-buttons-main-content-area {
  margin-top:3px;
  margin-bottom:3px;
  float:left;
  width:100%;
  display:block;
}

/* =css for short code
-------------------------------------------------------------- */

.my-press-share-buttons-main {
  margin-top:1px;
  margin-bottom:1px;
  width:100%;
  float:left;
  display:block;
}

.my-press-share-buttons {
  float:left;
  padding:2px;
  margin-top:1px;
}

#mypressback-map-ground {
  display:none;
  position:fixed;
  background-color:#ffffff;
  opacity:0.9;
  filter:alpha(opacity=30);
  top:0px;
  left:0px;
  min-width:100%;
  min-height:100%;
  z-index:1000;
}

#mypress-panel {
  display:none;
  position:fixed;
  top:25%;
  left:33%;
  color:#302217;
  background-color:#ffffff;
  padding:3px 3px 3px 3px;
  z-index:1001;
}

#mypress-panel a#close-panel {
  float:right;
  text-decoration:none;
  background-color:#ffffff;
  color:#804000;
}
